<div class="row">
  <!-- Area Chart -->
  <div class="col-xl-12 col-lg-7">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Jumlah Jiwa</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="chart-area">
          <canvas id="myMultipleChart" width="100" height="100"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-12 col-lg-7">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Jenis Kelamin</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="chart-pie pt-4">
          <canvas id="PieChartJenisKelamin"></canvas>
        </div>
        <div class="mt-4 text-center font-weight-bold">
          <span class="mr-2">
            <i class="fas fa-circle text-male"></i><%= " Laki-Laki : #{number_with_precision(@male_each_areas.sum, :precision => 0, :delimiter => ',')}" %>
          </span>
          <span class="mr-2">
            <i class="fas fa-circle text-female"></i><%= " Wanita : #{number_with_precision(@female_each_areas.sum, :precision => 0, :delimiter => ',')}" %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>