<div class="row">
  <div class="col-lg-6 mb-4">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Jumlah Desa</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="number-of-desa">
            <i class="font-weight-bold font-size-150"><%= @desas.size %></i>
          </div>
          <div class="col mr-2">
            <% desas.each do |desa| %>
              <div class="font-weight-bold font-size-17 text-primary tooltip">
                <%= desa.name %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 mb-4">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Jumlah Kelompok</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="chart-pie pt-4 pb-2">
          <canvas id="myPolarChartDesa"></canvas>
        </div>
        <div class="text-center">
          <span class="mr-2">
            <div class="font-weight-bold font-size-15">Total: <%= number_of_kelompoks %> Kelompok</div>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Form Desa -->
<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div id="modal-form-desa" class="modal-content">
      <%= render 'modal_form', desa: desa %>
    </div>
  </div>
</div>
<!-- End Modal -->