<div class="text-center">            
  <div class="align-items-center mb-4">
    <div class="h3 font-weight-bold text-primary text-uppercase mb-1"><%= @desa.name %></div>
  </div>
</div>

<%= render 'desa' %>
<%= render 'kelompok', desa: @desa, kelompoks: @kelompoks, kelompok: Kelompok.new %>
<%= render 'script' %>